.subscription-message {
  padding: 10px;
  padding-right: 25px;
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  line-height: 1.5em;
  font-size: 14px;

  p {
    margin: 0;
  }

  & .subscription-message-dismiss {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-with-success {
    border-color: $successColor;
    color: $successColor;
    .subscription-message-title {
      color: $successColor;
    }
  }
  &-with-error {
    border-color: $errorColor;
    color: $errorColor;
    .subscription-message-title {
      color: $errorColor;
    }
  }
  &-with-warning {
    border-color: $warningColor;
    color: $warningTextColor;
    .subscription-message-title {
      color: $warningTextColor;
    }
  }
  &-with-info {
    border-color: $primaryColor;
    color: $primaryColor;
    .subscription-message-title {
      color: $primaryColor;
    }
  }
}
