$primaryHue: 200;
$primaryColor: hsl($primaryHue, 60%, 50%);
$primaryDarker: hsl($primaryHue, 60%, 40%);
$white: #ffffff;

$alertHue: 0;
$alertColor: hsl($alertHue, 60%, 50%);
$alertDarker: hsl($alertHue, 60%, 40%);

.manage-subscription-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

$errorHue: 0;
$errorColor: hsl($errorHue,50%,50%);

$successHue: 120;
$successColor: hsl($successHue,50%,50%);

$warningHue: 25;
$warningColor: hsl($warningHue, 80%,73%);
$warningTextColor: hsl($warningHue, 50%, 37%);

$breakpoints: (phone: 640px,
        tablet: 768px,
        desktop: 1024px) !default;


