{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "function-paren-newline": ["error", "consistent"],
    "react/no-danger": "off",
    "jsx-a11y/click-events-have-key-events": false, 
    "jsx-a11y/no-static-element-interactions": false,
    "react/no-array-index-key": false,
    "react/default-props-match-prop-types": false
  },
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "Stripe": true,
    "manageSubscription": true,
    "Spreedly": true,
    "braintree": true
  }
}
